
body {
    background-color: rgb(228, 252, 249);
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    color: #66BFBF;
    font-size: 462.5%;
    font-family: 'Sacramento', cursive;
    margin-top: 50px;
}